

    {{ partial "header.html" . }}

        <div class="site-wrapper">
            <div class="site-wrapper-inner-home">
                <div class="cover-container">

                    <!-- Mobile -->
                    <span class="hidden-sm hidden-md hidden-lg">
                        <div class="masthead clearfix">
                            <div class="cover">
                                <h4 class="b mb0">{{ .Site.Params.name }}</h4>
                            </div>
                        </div>
                        <div class="inner home cover">
                            <!--h4 class="b mb0">{{ .Site.Params.name }}</h4-->
                            <p class="">{{ .Site.Params.blurb }}</p>
                            <!--p class="subtle">Updated Wednesday, 6am</p-->
                        </div>
                    </span>
                    <!-- > Mobile -->
                    <span class="hidden-xs">
                        <div class="inner cover">
                            <h2 class="b mb0"><!--span class="subtle">
                            {{ .Site.Params.name1 }}</span>{{ .Site.Params.name2 }}-->
                            {{ .Site.Params.name }}
                            </h2>
                            <p class="subtle">{{ .Site.Params.blurb }}</p>
                            <!--p class="lead">{{ .Site.Params.blurb1 }}</p!-->
                            <br>
                            <!--em><span class="subtle">{{ .Site.Params.updated }} <a class="blue" href="/reviews">Reviews</a></span></em-->
                        </div>
                    </span>


    {{ partial "foot-home.html" . }}
    {{ partial "footer.html" . }}
