
<!-- _default/single.html -->
	<!DOCTYPE html>
	<html lang="en">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="{{ .Site.Params.metaDesc }}">
		<meta name="author" content="">
    <meta name="robots" content="noindex">
		<link href='https://fonts.googleapis.com/css?family=Cousine:400,700|Droid+Serif:400,700' rel='stylesheet'>
		<link rel="icon" href="/i/favicon.ico">
		<!--{{ if .Next }}<link rel="prefetch" href="{{.Next.RelPermalink}}" />{{ end }}
		{{ if .Prev }}<link rel="prefetch" href="{{.Prev.RelPermalink}}" />{{ end }}-->
		<!-- full page -->

		<title>{{ .Site.Title }} — {{ .Title }}</title>

		<!-- Bootstrap core CSS -->
			<!--link href="/css/bootstrap.min.css" rel="stylesheet"-->
		<!-- Custom styles for this template -->
			<!--link href="/css/cover.css" rel="stylesheet"-->
		<!--link href="/css/css.css" rel="stylesheet"-->
			<link href="../css/css.min.css" rel="stylesheet">

		<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
		<!--script src="/js/ie10-viewport-bug-workaround.js"></script-->

		<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
		<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
		<![endif]-->
	</head>

	<body class="{{ lower .Title }}">

		<div class="site-wrapper">
			<div class="site-wrapper-inner">
				<div class="cover-container">

      		<div class="inner cover">

            <div class="container-fluid">
              <div class="row">

                <div class="col-xs-11 col-sm-11 noPad">

                  <p class="subtle">
                    {{ if .Title }}
                      {{ if .Params.pretitle }} {{ .Params.pretitle }}{{ end }} {{ upper .Title }}{{ if .Params.for }}, for {{ .Params.for }}{{ end }}
                      {{ if .Params.subtitle }} {{ .Params.subtitle }}{{ end }}
                    {{ end }}
                  </p>
                </div>

                <div class="col-xs-1 col-sm-1 noPad">

                </div>

              </div>
            </div>

      			<br><br>
      			{{ .Content }}
      			<br><br>
            {{ if .Params.comingup }}
              <p class="subtle"><i>Next Up: {{.PrevInSection.Title}}</i></p>
              <br><br>
            {{ end }}

      		</div>

        	<div class="mastfoot {{ if .Params.relativefoot }}relative{{ end }}">
        		<div class="inner">
              <div class="container-fluid">
                <div class="row">

                  <div class="col-xs-6 col-sm-5 noPad">
                    {{ if .Prev }}
                      <a class="previous btn btn-lg btn-default btn-block" href="{{ .Prev.RelPermalink }}">&larr; PREVIOUS</a>
                    {{ else }}
                      <a class="previous btn btn-lg btn-default btn-block" href="{{ .Site.Params.homelink }}">&larr; HOME</a>
                    {{ end }}
                  </div>

                  <div class="col-xs-6 col-sm-offset-2 col-sm-5 noPad">
                    {{ if .Next }}
                      <a class="next btn btn-lg btn-default btn-block" href="{{ .Next.RelPermalink }}"> NEXT &rarr;</a>
                    {{ else }}
                      <a class="next btn btn-lg btn-default btn-block" href="{{ .Site.Params.homelink }}"> HOME &rarr;</a>
                    {{ end }}
                  </div>

                  <!--div class="col-xs-12 col-sm-offset-1 col-sm-4 noPad">
                    <a class="btn btn-lg btn-default btn-block" href="/contact">
                      Contact
                      <span class="hidden-xs"> Me</span>
                    </a>
                  </div-->

                </div>
              </div>

              <br><br><br>

              <!--div class="row text-centre">
                <em><span class="subtle">{{ .Site.Params.updated }} <a href="/reviews">Reviews</a></span></em>
              </div-->
        			<!--p class="lead">
          			<span class="lead nav masthead-nav">

                  {{ if .Prev }}
          					<a class="previous btn btn-lg btn-default" href="{{.Prev.RelPermalink}}">&larr; PREVIOUS</a>
          				{{ else }}
          					<a class="previous btn btn-lg btn-default" href="/">&larr; HOME</a>
          				{{ end }}

                  {{ if .Next }}
          					<a class="next btn btn-lg btn-default" href="{{.Next.RelPermalink}}"> NEXT &rarr;</a>
          				{{ else }}
          					<a class="next btn btn-lg btn-default" href="/"> HOME &rarr;</a>
          				{{ end }}

                    <a class="btn btn-lg btn-default visible-xs-block visible-sm-inline-block visible-md-inline-block visible-lg-inline-block pull-right" href="/contact">
                      Contact
                      <span class="hidden-xs"> {{ upper .Site.Title }}</span>
                    </a>

          			</span>
        			</p-->
        		</div>
        	</div>

    {{ partial "footer.html" . }}
