
	<div class="mastfoot">
		<div class="inner">
      <div class="container-fluid">
        <div class="row">

          <div class="col-xs-12 col-sm-5 noPad">

      			<span class="lead nav masthead-nav">
      				{{ range first 1 .Data.Pages }}
      				<a class="previous btn btn-lg btn-default btn-block" href="{{ .RelPermalink }}/">
      					<span class="">&nbsp;&nbsp;Click Here&nbsp;&nbsp;&rarr;</span>
      				</a>
      				{{ end }}
      				<!--a class="next btn btn-lg btn-default" href="/contact">
      					Contact
      					<span class="hidden-xs"> Me</span>
      				</a-->
      			</span>

        </div>
      </div>

		</div>
	</div>